@import "assets/styles/bootstrap-theme";
@import "assets/styles/fork-awesome";

#main-card {
    margin          : auto;
    margin-top      : 64px;
    width           : 640px;
    height          : 320px;
}